<% @products.each_slice(3) do |slice| -%>
 <tr>
  <% slice.each do |product| -%>
	<td><%= link_to image_tag(product.image_url, :title => product.title, 
	 		:alt => product.title.capitalize),url_for(product) %>
	 		<%= product.price %>
	 		<%=button_to'Add to Cart',line_items_path(product_id: product), :class => 'button'%> 
	 	</td>
  <% end -%>
 <tr>
<% end -%>


