<!-- Header -->	
	<div id="header">
		<h1 id="logo"><%= link_to 'Shop Around', store_url %></h1>	
		
		<!-- Cart -->
		<div id="cart">
			<% if @cart != nil and session[:cart_id] != nil %>
				<%= link_to 'Your Shopping Cart', @cart, :class => 'cart-link' %>
				<div class="cl">&nbsp;</div>
				<strong><%= pluralize(@cart.total_items_count, 'Item')%></strong>
				&nbsp;&nbsp;
				<span>Cost: <strong><%= number_to_currency (@cart.total_price)%></strong></span>
			<% else %>
				<a href="#" class="cart-link">Your Shopping Cart</a>
			<% end %>
			
			
		</div>
		<!-- End Cart -->
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="#" class="active">Home</a></li>
			    <li><a href="#">Support</a></li>
			    <li><a href="#">My Account</a></li>
			    <li><a href="#">The Store</a></li>
			    <li><a href="#">Contact</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
	</div>
<!-- End Header -->